.Menu_Button
{
    position:relative;
    float:left;
    margin-right:10px;
    margin-top:10px;
    color:white;
    padding:5px;
    text-align:center;
    border-radius:10px;
    border:0px solid rgba(255,255,255,1);
    
}

@media only screen and (max-width: 500px) { .Menu_Button {padding:2px;margin-right:4px;margin-top:4px;}}

.Menu_Button:hover 
{
    background:rgba(255,255,255,0.2);
}

.Menu_Button:active
{
    background:rgba(255,255,255,0.5);
}

.SubMenu
{
    position:absolute;
    top:30px;
    left:2px;
    background:white;
    color:green;
    border-radius:3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    padding:5px;
    z-index:102;
}

.SubMenu_Button:hover 
{
    background:rgba(0,255,0,0.2);
}

.SubMenu_Button:active
{
    background:rgba(0,255,0,0.6);
    color:white;
}